<%= form_with(model: @participant, local: true) do |form| %>
  <div class="form-box signup">
    <div class="form-content">
      <h2>Modification du mot de passe</h2>
      
      <div class="input-field">
        <%=form.password_field :password, required: true%>
        <%=form.label :password, "Enter l'ancien mot de passe "%>
      </div>
      
      <div class="input-field">
        <%=form.password_field :password, required: true%>
        <%=form.label :password, "Entrer le nouveau mot de passe"%>
      
      </div>

      <div>
        <%= form.submit "Modifier le mot de passe", class: "thesign"%>
      </div>

      <%= form_with(model: @participants, url: login_participant_path, method: :post, class: "mt-5", data: {remote: true, connexion_target: "formParticipant" }) do |form| %>
        <div class="w-full py-2">
          <%=form.email_field :email, required: true, placeholder: "Enter your email", class: "w-full border border-gray-400 py-2 px-1 " %>
        </div>
        <div class="w-full py-2">
          <%=form.password_field :password, required: true, placeholder: "Enter your password", class: "w-full border border-gray-400 py-2 px-1 " %>
        </div>
        <button type="button" data-action="click->connexion#submitParticipant" class="bg-purple-600 text-white w-full py-3 my-2 cursor-pointer" > Login </button>
        <div class="flex justify-end">
          Login as administrator? 
          <a href="#" id="signup-link" class="ml-2 underline text-purple-600" data-connexion-target="gotoadminsignin" data-action="click->connexion#showLoginAsAdministrator"> Log In </a>
        </div>
      <% end %>













    </div>
  </div>
<% end %>