<nav class="bg-gray-800 p-2">
  <div class="flex items-center justify-between">
    <div class="text-white">
      <% if session[:participant_id]%>
        <p class="lg:text-[20px] text-[13px] text-bold">Vous êtes connecté en tant que participant</p>
      <% elsif session[:administrator_id] %>
        <p class="lg:text-[20px] text-[13px] text-bold">Vous êtes connecté en tant qu'administrateur</p>
      <% end %>
    </div>
    <div class="flex">
      <% if session[:participant_id]%>
        <input type="checkbox" name="" checked="checked">
        <span class="icon"></span>
        <ul>
          <li>
            <a>
              <%= link_to 'Modifier mes informations', edit_participant_path(session[:participant_id]) %>
            </a>
          </li>

          <li>
            <a>
              <%= form_with url: logout_participant_path, method: :delete, data: {confirm: "Êtes-vous sur de vouloir vous deconnecter ?"} do |f| %>
                <%=f.submit 'Déconnexion',class:"cursor-pointer lg:text-[20px] text-red-500 font-bold  text-[15px]"%>
              <% end %>
            </a>
          </li>
        </ul>
      <% elsif session[:administrator_id] %>
        <%= form_with url: admin_settings_path do |f| %>
          <%= f.submit 'Admin params',class:"lg:text-[20px] mr-8 cursor-pointer text-green-500 font-bold  text-[15px]"%>
        <% end %>
        <%= form_with url: logout_administrator_path, method: :delete, data: {confirm: "Êtes-vous sur de vouloir vous deconnecter ?"} do |f| %>
          <%= f.submit 'Déconnexion',class:"lg:text-[20px] cursor-pointer text-red-500 font-bold  text-[15px]"%>
        <% end %>
      <% end %>
    </div>
  </div>
</nav>


<div class="mt-[15%]  lg:mt-[2%]" >
  
  <div id="flashNoticeconexiontrue">
    <% if flash[:notice] %>
      <div class="bg-green-800 text-black font-semibold text-4xl text-center"> <%=flash[:notice] %> </div>
    <%end%>
  </div>

  <nav class="sleeptext w-[95%] mx-[2.5%] bg-gray-400 text-center font-bold lg:text-[25px] text-[15px] rounded-t-md ">
  </nav>

  <div class="flex justify-center w-full section4">
    <table class="w-[95%] !lg:text-[14px] text-[11px] bg-slate-200 !h-[10px]!md:h-[300px] text-center font-bold lg:text-[25px]">
      <tr>
        <th class="lg:m-2 p-auto border-solid border-2 border-white text-black">Cleaning Day</th>
        <th class="lg:m-2 p-auto border-solid border-2 border-white text-black">Firstname</th>
        <th class="lg:m-2 p-auto border-solid border-2 border-white text-black">Lastname</th>
        <th class="lg:m-2 p-auto border-solid border-2 border-white text-black">Email</th>
        <th class="lg:m-2 p-auto border-solid border-2 border-white text-black" colspan="2">Options</th>
      </tr>

      <% @participants_with_tasks.each do |item| %>
        <% task_calendar = item[:task_calendar] %>
        <% task = item[:task] %>
        <% participant = item[:participant] %>
        <tr>
          <td class="lg:m-3 p-auto border-solid border-2 border-white text-sky-500"><%= task_calendar.date_cleaning_task.strftime("%A") %></td>
          <th class="lg:m-3 p-auto border-solid border-2 border-white text-gray-700"><%= participant.firstname %></th>
          <th class="lg:m-3 p-auto border-solid border-2 border-white text-gray-700"><%= participant.lastname %></th>
          <th class="lg:m-3 p-2 border-solid border-2 border-white text-gray-700"><%= participant.email %></th>
          <td class="lg:m-3 p-auto border-solid border-2 border-white">
            <% if @voting_open && task_calendar.date_cleaning_task == Date.today %>
              <div class="lg:text-xl text-[10px] font-bold !px-1 !py-2">
                <%= form_with url: votes_path, method: :Post do |f| %>
                  <%= f.hidden_field :vote, value: 1 %>
                  <div class="required: !  text-green-900 hover:bg-slate-500 bg-slate-100">
                    <%= f.submit 'Bien', class: "!m-2 cursor-pointer vote-button" %>
                  </div>
                <% end %>
                <%= form_with url: votes_path, method: :post do |f| %>
                  <%= f.hidden_field :vote, value: 0 %>
                  <div class="required: !  text-red-900 hover:bg-slate-500 bg-slate-100 mt-2">
                    <%= f.submit 'Pas bien', class: "!m-2 cursor-pointer vote-button" %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

</div>



<script>
  document.addEventListener('DOMContentLoaded',function() {

    var flashNoticeconexiontrue = document.getElementById('flashNoticeconexiontrue');
    flashNoticeconexiontrue.style.display = 'block';

    setTimeout(function(){
      flashNoticeconexiontrue.style.display = 'none';
    }, 2000);
  });

</script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var phrase = "CALENDRIER   DE   NETTOYAGE";
    var navElement = document.querySelector(".sleeptext");

    phrase.split('').forEach(function(char, index) {
      setTimeout(function() {
        var newChar = document.createElement("span");
        if (char === ' ') {
          newChar.innerText = '\u00A0';
        } else {
          newChar.innerText = char;
        }
        navElement.appendChild(newChar);
      }, 100 * index);
    });
  });
</script>
